@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.XnKlKd .tL9Q4c,.CRFCdf,.eUyZxf,.eUyZxf,.CIYi0d .jO7h3c,.NPEfkd.RveJvd.snByac,.CkXZgc,.cS7aqe,.Ue6DPb,.YhIwSc,.aQIrCf,.to0C6d,.ZHdB2e .kaAt2,.p2ZbV.zKHdkd,.DLjNp.LlMNQd .Kx3qp,.Yi3Cfd,.qrB73e,.DPvwYc.NiVZcb,.Mwv9k,.pLuP1d,.DPvwYc.NiVZcb,.oIy2qc,.xKiqt.cd29Sd .Fxmcue,.YTbUzc,.MuzmKe,.oYGn2e,.epqixc.YUGmGb,.uArJ5e.UQuaGc.kCyAyd.kW31ib.foXzLb._gmgv-button label,.uArJ5e.UQuaGc.kCyAyd.kW31ib.foXzLb._gmgv-button small,.LM3KPc,.jO7h3c,.PNenzf,.rDt4jf,.PNenzf,.hRmCye,.hRmCye,.hRmCye,.NVUqMb,.vRMGwf.oJeWuf,.oZ3U3b.ZdDOgd,.NVUqMb,.IpvD9c,.oZ3U3b.ZdDOgd,.TZFSLb.qKrure.jDyjC .qjTEB,.j86Yv,.UjrUd.RREyFd  {
    color: #fff !important;
}
.xKiqt.cd29Sd .Fxmcue {
    background: #00796b !important;
}
.knW4sf {
	background: #fff !important; 
}
.NzPR9b,.XvhY1d,.ZHdB2e .kaAt2,.to0C6d,.rG0ybd,.z80M1.FwR7Pc,.mrslJ.ZjAUM.q21cab,.p2ZbV.zKHdkd,.yTfxtb.Hf0AAb,.knW4sf.OvyUed,.g3VIld.jfbwef.QDeNGd.Up8vH.J9Nfi.iWO5td,.g3VIld.eWhfCe.Up8vH.hFEqNb.J9Nfi.iWO5td,.g3VIld.Kdui9b.vDc8Ic.Whe8ub.J9Nfi.iWO5td,.NVUqMb,.oZ3U3b.ZdDOgd,.g3VIld.Kdui9b.vDc8Ic.Whe8ub.J9Nfi.iWO5td,.NVUqMb,.oZ3U3b.ZdDOgd,.TZFSLb.qKrure.jDyjC .qjTEB,.UjrUd.RREyFd,.OA0qNb.ncFHed.yOCuXd,.OA0qNb.ncFHed.yOCuXd,.MocG8c.LMgvRb.KKjvXb {
    background: #232323 !important;
}
.ZHdB2e,.Bs3rEf,.vvTMTb  {
    background: #2c2c2c !important;
}
.YTbUzc,.EVe89b.D0baBe,.GsqdZ.K74C9e {
    color: #faff00 !important;
}
.p21yBf {
    background: #faff00 !important;
}
.cU0hbd .K74C9e, .cU0hbd .D0baBe {
    color: #00796b !important;
}
.cU0hbd .K74C9e, .cU0hbd .D0baBe{
	color: #00796b !important;
}
.qrB73e {
    background: #00796b !important;
}
.uArJ5e.UQuaGc.kCyAyd.kW31ib.foXzLb.__gmgv-button svg path,.DPvwYc.us49wd svg path,.DPvwYc.o9fq9d svg path,.A00RE .uJNmj .bkbMM svg path,.A00RE .uJNmj .bkbMM,.A00RE .uJNmj .bkbMM,.A00RE .uJNmj .bkbMM,.Ce1Y1c svg path {
    fill: #fff !important;
}
.uArJ5e.UQuaGc.kCyAyd.kW31ib.foXzLb._gmgv-button div,.uArJ5e.UQuaGc.kCyAyd.kW31ib.foXzLb._gmgv-button label {
    background: #232323 !important;
}
:not(.google-material-icons,.DPvwYc.VfeYV,.Mwv9k,.KHxj8b.tL9Q4c) {
	font-family: "Raleway", sans-serif !important;
}
